.collaboratePage {
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}

.mainTitle {
  font-size: 6rem; 
  white-space: nowrap; 
  color: #FF863C;
  margin-bottom: 1rem; 
  letter-spacing: 0.05em;
  line-height: 0.85;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.subTitle {
  font-size: 2.5rem;
  color: #FFE6B1;
  line-height: 0.85;
  margin-bottom: 1rem;
  letter-spacing: 0.02em;
}

.text {
  font-size: 1.25rem;
  color: #F5ECD7;
  line-height: 1.3;
  margin-bottom: 1rem;
  font-family: var(--font-poppins);
  max-width: 600px;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #F5ECD7;
  font-size: 1.25rem;
  font-family: var(--font-poppins);
  text-decoration: none;
  transition: opacity 0.2s;
  cursor: pointer;
}

a.socialLink:hover {
  opacity: 0.8;
}

.friendsTitle {
  font-size: 3.5rem;
  color: #FF863C;
  margin-bottom: 3rem;
  letter-spacing: 0.05em;
}


.marqueeContainer {
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
}

.marqueeTrack {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}



.marqueeContent {
  display: flex;
  gap: 3rem;
  padding-right: 3rem; 
}

.logoCircle {
  flex-shrink: 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #E2CDCC 50%, #D8C3C2 50%);
  border: 1px solid rgba(255, 255, 255, 0.05); 
}


.logoCircle:nth-child(even) {
  background: linear-gradient(to right, #D6C2C1 50%, #CBB7B6 50%);
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  to {
    transform: translateX(-50%); 
  }
}


@media (max-width: 1024px) {
  .mainTitle {
    font-size: 5rem;
  }
  .subTitle {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    padding: 0 2rem;
  }
  .text {
    padding: 0 1rem;
    font-size: 1.1rem;
  }
  .mainTitle {
    font-size: 3.5rem;
    white-space: normal;
  }
  .subTitle {
    font-size: 1.8rem;
  }
  .socialBlock {
    gap: 0;
  }
  .socialLink {
    font-size: 0.9rem;
    gap: 0.4rem;
  }
  .socialLink svg {
    width: 16px;
    height: 16px;
  }
  .friendsTitle {
    font-size: 2.2rem;
  }
  .logoCircle {
    width: 160px;
    height: 160px;
  }
  .marqueeContent {
    gap: 2rem;
    padding-right: 2rem;
  }
  .desktopBr {
    display: none;
  }
}
