.navbar {
    padding: 2rem;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 50;
}

.navlinks {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 0;
    padding: 0
}